* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Malayalam', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FF6D19;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #FF6D19;
    color: white;
     position: sticky; 
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000; 
}

.logo {
    font-size: 24px;
    font-weight: light;
    cursor:pointer;
}

.icons {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor:pointer;
}

main {
    background-color: #FCFCFC;
    border-radius: 30px 30px 0px 0px;
    margin-top: 5vh;
    min-height: 80vh;
    flex-grow: 1; 
    padding-bottom: 80px; 
}

.search-section {
    position: relative; 
    padding: 30px 30px;
    text-align: center;
    background: black;
    margin: 3vh 5vw;
    border-radius: 30px;
    min-height: 30vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
    position: relative;
    border-bottom: 1px solid #FCFCFC;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    backdrop-filter: blur(10px);
}

.search-bar input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    padding: 0 10px;
}

.search-bar .search-icon, .search-bar .history-icon {
    cursor: pointer;
    margin-left: 10px;
}

.search-icon{
	color:white;
}

.history-icon {
    color: #FF6D19;
}

.manglish {
    margin-top: 10px;
    color: white;
    text-align: left;
}

.manglish label {
    display: flex;
    align-items: center;
    color: white;
}

.manglish input[type="checkbox"] {
    margin-right: 8px;
    accent-color: #FF6D19; 
}

.manglish a{
color:#FF6D19;
padding:2px;
margin-left:3px;
}

.footer {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center;
    padding: 20px 0;
    background: #FCFCFC;
    z-index: 1000; 
}

.footer nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer nav a {
    color: gray;
    text-decoration: none;
    font-size: 12px;
}

.footer p {
    font-size: 12px;
    color: gray;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .search-bar {
    background: none;
}

.dark-mode .footer {
    background: #202020;
}

.dark-mode .navbar{
	background-color:black;
}

.dark-mode main{
	background-color: #202020;
}

.dark-mode .search-section,
.dark-mode .word-of-day h2,
.dark-mode .word-of-day .malayalam,
.dark-mode .word-of-day .english {
    color: white;
}

.mobile-menu {
    display: none;
 position: fixed; 
    top: 60px; 
    right: 0px; 
    width: 100%;
    background-color: #FF6D19;
    border-radius: 0px 0px 20px 20px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
     z-index: 1000; 
    transition: transform 0.3s ease; 
    transform: translateY(0); 
}

.mobile-menu.visible {
    display: block;
    max-height: 300px; 
    opacity: 1; 
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu ul li {
    padding: 15px;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-weight:normal;
}

.mobile-menu ul li:hover {
    background-color: #ED4C00;
}

.hidden {
    display: none; 
}

.dark-mode .mobile-menu {
    background-color: black;
}

.dark-mode .mobile-menu ul li a {
    color: white;
}

.menu-open .search-section {
    margin-top: 250px; 
}

#results-container {
padding:20px;
  margin: 20px;
}
.result{
margin-bottom:1.5vh;
}

.result h3{
	font-weight:normal;
	font-size:1.2em;
}
.result h4{
	background:#FF6D19;
	color:white;
	font-size:13px;
	font-weight:bold;
	font-style:italic;
	padding: 5px 8px;
	width:fit-content;
	border-radius:20px;
}

.dark-mode .result p{
	color:#C6C6C6;
}

.related-words{
	color:red;
}

.search-history {
    position: relative;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    color:#919191;
    overflow-y: auto;
    z-index: 10;
}

.dark-mode .search-history{
	color:#E2E2E2;
}

.search-history-item {
    padding: 10px;
    cursor: pointer;
}

.search-history-item:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

.other-matches, .related-words {
	border-top: 1px solid black;
}
.other-matches a, .related-words a{
	text-decoration:none;
	color:#FF4600;
}
.related-words h4{
	color:black;
}

.dark-mode .other-matches, .related-words {
	border-top: 1px solid white;
}

.dark-mode .related-words h4{
	color:white;
}

.alphabet-filter {
	display:flexbox;
	padding:10px;
	margin:10px;
   gap: 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-bottom:1px solid #A0A0A0;
}

.alphabet.active {
    font-weight: bold;
		background:#FF6D19;
		color:white;
		padding:5px 8px;
		border-radius:20px;
}

.word-item {
    padding: 10px;
    margin: 10px 20px;
    cursor:pointer;
    border-radius:30px;
    background-color:#F6F6F6;
}
.dark-mode .word-item{
	background-color:#393939;
}

.word-item h3 {
    margin: 0;
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 1em;
}

.word-item h4 {
	background:#FF6D19;
	color:white;
	font-size:12px;
	font-weight:bold;
	font-style:italic;
	margin:10px 0px;
	padding: 5px 8px;
	width:fit-content;
	border-radius:20px;
}

.word-item p {
    margin: 5px 0;
    color: #555;
}

.dark-mode .word-item p{
	color:#E2E2E2;
}

.word-item:hover {
    background-color: #e9ecef;
}

.dark-mode .word-item:hover {
    background-color: #555555;
    color:white;
    border-radius:30px;
}

.pagination {
    position: fixed;
    bottom: 12vh; 
    left: 0;
    background-color:#FCFCFC;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 10; 
}
.dark-mode .pagination{
	    background-color:#202020;
	    color:white;
}

.pagination button {
    font-size: 1em;
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#page-info {
    margin: 0 10px;
    font-weight: bold;
}

.word-of-the-day {
background-color:#F2F2F2;
border-radius:20px;
text-align:center;
		color:black;
    padding: 20px; 
    margin: 20px; 
}

.word-of-the-day h1{
font-size:1em;
font-weight:normal;
margin-bottom:10px;
color:#656565;
}

#word-title{
	font-weight:normal;
	margin-bottom:10px;
}
#word-pos {
	font-style:italic;
	color:#FF6D19;
	font-weight:normal;
}
#word-meaning{
	font-size:1.2em;
	color:#3C3C3C;
}
.notice{
	padding:20px;
	margin:20px;
	border-radius:20px;
	background-color:#FF401D;
	color:white;
}
.notice p{
	font-weight:bold;
}

.notice a{
	color:#772D2E;
}
.card{
	background-color:#E6E6E6;
	padding:20px;
	margin:20px;
	border-radius:20px;
	cursor:pointer;
  transition: 0.5s;
}

.dark-mode .card{
	background-color:#FF5100;
	color:white;
}

.card:hover{
 background-color: #585858;
 color:white;
}
.card h2{
	color:#FF5100;
}

.dark-mode .card h2{
	color:white;
}

.card a{
	color:#FF5100;
}

.dark-mode .card a{
	color:#9F312F;
}
.dark-mode .card:hover{
 background-color: #C2C2C2;
 color:black;
}

.entry-count{
text-align:center;
		padding:20px;
	margin:20px;
	border-radius:20px;
	background-color:#F2F2F2;
	font-weight:bold;
	color:#000000;
}
.iso-transliteration {
    font-style: italic;
    color: #555;
    font-size: 0.9em;
}
